$indicator-size: 48px;
$animation-time: 0.4s;

.BottomNavBar {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;

	display: grid;
	grid-template-rows: $indicator-size 0fr;

	transition: grid-template-rows $animation-time ease, background-color calc($animation-time * 1.5) ease;

	font-size: x-large;

	button {
		border: unset;
		background-color: unset;
		display: flex;
		flex-direction: column;
		align-items: center;

		hr {
			width: 70%;
			color: #ffffff;
		}

		svg {
			transition: transform $animation-time;
			transform: scaleY(-1);
		}
	}

	nav {
		overflow: hidden;
		* {
			margin: 3rem 0;
		}

		ul {
			list-style-type: none;
			a {
				text-decoration: none;

				&.active {
					color: #82e4ff;
					text-decoration: underline;
					font-weight: bold;
				}
			}
		}
	}

	&.active {
		grid-template-rows: $indicator-size 1fr;
		background-color: #5b5b5b;

		button svg {
			transform: scaleY(1);
		}
	}
}
